/*Global*/

body {
	font-family: helvetica, sans-serif;	
	margin: 0 0;
	padding: 0 0;
}

.contain {
	width: 100%;
	max-width: 1044px;
	margin: 0 auto;
}

/*header*/

#heading {
	width: 100%;
	height: 60px;
	position: fixed;
	background: rgb(201,73,85); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(201,73,85,1) 0%, rgba(190,59,68,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(201,73,85,1)), color-stop(100%,rgba(190,59,68,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(201,73,85,1) 0%,rgba(190,59,68,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(201,73,85,1) 0%,rgba(190,59,68,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(201,73,85,1) 0%,rgba(190,59,68,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(201,73,85,1) 0%,rgba(190,59,68,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c94955', endColorstr='#be3b44',GradientType=0 ); /* IE6-9 */
	-moz-box-shadow: 0 0px 13px 2px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 0px 13px 2px rgba(0,0,0,0.5);
	box-shadow: 0 0px 13px 2px rgba(0,0,0,0.5);
}

#head_container {
	position: relative;

}

#logo {
	width: 116px;
	height: 86px;
	background: #d44c57;
	display: inline-block;
	box-shadow: 0 0px 16px 2px rgba(0,0,0,0.5);
}

#logo img {
	position: relative;
	left: 50%;
	margin-left: -40px;
	top: 50%;
	margin-top: -34px;
}

#head_container a {
	display: inline-block;
	color: white;
	position: absolute;
	text-decoration: none;
	right: 0;
	top: 20px;
}

/*Content*/
/*	#content {
		background: #373737;
		height: 1200px;
	}*/
