/*Global*/

body {
	transition: background-image .4s;
	-moz-transition: background-image .4s; /* Firefox 4 */
	-webkit-transition: background-image .4s; /* Safari and Chrome */
	-o-transition: background-image .4s; /* Opera */
	background-image: url(../img/landing_image1.jpg);
	background-size: cover;
	font-family: helvetica, sans-serif;	
	margin: 0 0;
	padding: 0 0;
}

.contain {
	width: 1044px;
	margin: 0 auto;
}

/*header*/

#heading {
	margin-top: 17px;
	position: relative;
}

#heading h1 {
	margin: 0 20px 0 0;
	text-indent: -9999em;
	height: 113px;
	width: 197px;
	background: url(../img/logo_03.png) no-repeat;
	display: inline-block;
}

#heading h2 {
	display: inline-block;
	font-size: 225%;
	color: #6dc7da;
	position: relative;
	margin: 0 0;
	top: 35px;
	text-shadow: 0 3px 5px rgba(0,0,0,.31);
}

#heading h2 span {
	color: white;
}

p {
	background: #8c569e;
	font-size: 150%;
	font-weight: 100; 
	color: white;
	width: 420px;
	margin: 20px 0 0 -40px;
	padding: 10px 10px;
	text-align: center;
	border-radius: 10px;
	box-shadow: 0 3px 5px rgba(0,0,0,.31);
}

p:nth-of-type(2){
	background: #6dc7da;
}

#one:hover body {
	background-image: url(../img/landing_image1.jpg);
}

#two:hover body {
	background-image: url(../img/landing_image2.jpg);
}

#three:hover body {
	background-image: url(../img/landing_image3.jpg);
}


