/*Global*/

body {
	transition: background-image .4s;
	-moz-transition: background-image .4s; /* Firefox 4 */
	-webkit-transition: background-image .4s; /* Safari and Chrome */
	-o-transition: background-image .4s; /* Opera */
	background-image: url(../img/landing_image1.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	font-family: helvetica, sans-serif;	
	margin: 0 0;
	padding: 0 0;
}

.contain {
	width: 1044px;
	margin: 0 auto;
}

/*header*/

#heading {
	margin-top: 17px;
	position: relative;
}

#heading h1 {
	margin: 0 20px 0 0;
	text-indent: -9999em;
	height: 113px;
	width: 197px;
	background: url(../img/logo_03.png) no-repeat;
	display: inline-block;
}

#heading h2 {
	display: inline-block;
	font-size: 225%;
	color: #6dc7da;
	position: relative;
	float: right;
	margin: 0 0;
	top: 35px;
	text-shadow: 0 3px 5px rgba(0,0,0,.31);
}

#heading h2 span {
	color: white;
}



#mc_embed_signup {

}

#mc_embed_signup form {
	margin-top: -30px;
	float: right;
}

#mce-EMAIL {
	width: 205px;
	display:inline-block;
	padding: 0 0;
	margin: 0 0;
	height: 20px;
}

#mce-EMAIL[value] {
	font-size: 55%;
	color: #bbb;
	font-style: italic;
	vertical-align: top;
	padding-left: 5px;
}

#mc-embedded-subscribe {
/*	width: 200px;*/
	display:inline-block;
	margin: 0 0;
	height: 24px;
	vertical-align: top;
	background-color: #6dc7da;
	border: 0;
	cursor: pointer;
}

#mc-embedded-subscribe img {
	height: 16px;
	width: auto;
	padding-top: 2px;
}

p {
	background: #8c569e;
	font-size: 150%;
	font-weight: 100; 
	color: white;
	width: 420px;
	margin: 20px 0 0 -40px;
	padding: 10px 10px;
	text-align: center;
	border-radius: 10px;
	box-shadow: 0 3px 5px rgba(0,0,0,.31);
}

p:nth-of-type(2){
	background: #6dc7da;
}

#one:hover body {
	background-image: url(../img/landing_image1.jpg);
}

#two:hover body {
	background-image: url(../img/landing_image2.jpg);
}

#three:hover body {
	background-image: url(../img/landing_image3.jpg);
}


